@font-face {
    font-family: 'ITC Officina Serif Std';
    src: url('assets/fonts/officinaserifstd-book-webfont.eot');
    src: url('assets/fonts/officinaserifstd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/officinaserifstd-book-webfont.woff') format('woff'),
         url('assets/fonts/officinaserifstd-book-webfont.ttf') format('truetype'),
         url('assets/fonts/officinaserifstd-book-webfont.svg#ITCOfficinaSerifStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}
body
{
	background:url(assets/images/top-lit-wood.jpg) top center fixed no-repeat #23130e;
    color:#45281C;
    font-size:2em;
    font-family:"ITC Officina Serif Std", "Lucida Sans","Lucida Grande","Lucida Sans Unicode",Tahoma,"Helvetica Neue",Arial,Helvetica;
}
header
{
	padding:10px;
	text-align:center;
}
a
{
	color:#D3B7AB;
	text-decoration:none;
	text-shadow: 0 1px 0 rgba(0, 0, 255, .8);
}
nav ul
{
	list-style:none;
	padding:0;
	margin:0;
}
nav li
{
	display:inline;
}
nav a
{
	color:#D3B7AB;
	font-size:.75em;
	text-shadow: 0 3px 0 rgba(0, 0, 0, 1);
}
.centerer
{
	width:1024px;
	margin:auto;
}
#bodyContainer
{
	border-radius: 0px 15px 15px 15px; 
	-moz-border-radius: 0px 15px 15px 15px; 
	-webkit-border-radius: 0px 15px 15px 15px; 
	background:#45281d;
	color:#D3B7AB;
	padding:25px;
	box-shadow:5px 5px 15px #111;
}
#planer
{
	vertical-align:bottom;
}
.title
{
	font-size:1.9em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
	padding-left:40px;
}
.bodyText
{
	font-size:.6em;
	line-height:1.5;
	margin:0px;
	text-align:justify;
	font-family:"Lucida Sans";
}
#aboutUsImage
{
	background:#6A5349;
	padding:15px;
	float:right;
	margin-left:20px;
}
nav li
{
	display:block;
	background-repeat: no-repeat;
	vertical-align:middle;
	width:181px;
	height:39px;
	float:left;
	position:relative;
	line-height:1.3em;
}
#tabOne
{
	padding-left:30px;
	
}
#tabTwo
{
	margin-left:-56px;
	padding-left:30px;
}
#tabThree
{
	margin-left:-56px;
	padding-left:20px;
}
.selectedTab
{
	background-image: url('assets/images/selectedTab.png');
	z-index:99;
}
.tab
{
	background-image: url('assets/images/tab.png');
	z-index:1;
}
.leftUnselectedTab
{
	background-image: url('assets/images/tabLeft.png');
	z-index:2;
}
footer
{
	padding-top:20px;
	color:#D3B7AB;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 1);
}
footer h1
{
	padding-left:20px;
	font-size:.7em;
	margin-bottom:0px;
	font-weight:normal;
	text-shadow: 0 3px 0 rgba(0, 0, 0, 1);
}
footer article
{
	font-size:.5em;
	padding-left:40px;
	font-style:italic;
}
footer ul
{
	list-style-type:none;
	font-size:.65em;
	margin:0px;
}
.testimonials
{
	float:left;
	width:350px;
	padding-right:60px;
}
.services
{
	float:left;
	padding-right:80px;
}
.follow
{
	float:left;
}